/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #fefae0;
  color: #bc6c25;
}

a {
  text-decoration: none;
  color: #606c38;
  font-weight: 500;
}

/* BRAND */
.brand {
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 1000;
}

.brand a {
  color: #283618;
  text-decoration: none;
  font-weight: 600;
  font-size: large;
}

/* HOME */
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  animation: fadeUp 0.4s ease;
}
.home p{
    color:dda15e;
    padding: 8px;
}
.home img {
  border-radius: 25%;
}

/* NAV */
nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #606c38;
  font-weight: 500;
}
nav a:hover{
  text-decoration: underline;
}
/* INNER PAGES */
.page {
  display: none;
  max-width: 900px;
  margin: auto;
  padding: 120px 20px 60px;
  animation: fadeUp 0.3s ease;
}

.page:target {
  display: block;
}

/* HIDE HOME WHEN ANY PAGE IS ACTIVE */
.page:target ~ .home {
  display: none;
}

/* BACK BUTTON */
.back-btn {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #606c38;
  transition: transform 0.2s ease, color 0.2s ease;
}

.back-btn:hover {
  transform: translateX(-2px);
  color: #283618;
}

/* ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* paddings */
main p {
  padding: 15px;
}
main h2 {
  padding-bottom: 20px;
  padding-left: 15px;
}
main h3 {
  padding-top: 15px;
  padding-left: 15px;
}
/*  */
::selection{
  background-color: #a1cebe;
}